.Invoices {
    position: absolute;
    border-color: blueviolet;
    border-width: 1px; /* Добавлено */
    border-style: solid; /* Добавлено */
    width: 730px;
    height: 600px;
    left: 355px;
    top: 196px;
}
