.header {
	position: absolute;
	width: 730px;
	height: 55px;
	left: 355px;
	top: 77px;
	display: flex;
	justify-content: flex-end; /* добавлено */
}

.btn {
	width: 150px;
	height: 48px;
	background-color: #7c5dfa;
	color: #f8f8fb;
	border-radius: 15px;
}
